{% extends "base.html"%}
{% block content %}

<div class="container-fluid mt-3">

    <div class="row">

        <div class="col-lg-2 mx-auto">
            <div class="list-group">
                <a href="/?category={{category.id}}" class="list-group-item list-group-item-action active">All
                    Products</a>

                {% for category in categorys %}
                <a href="/?category={{category.id}}" class="list-group-item list-group-item-action active">

                    <li>{{category.title}}</li>
                </a>
                {% endfor %}
            </div>
        </div>




        <!-- all products -->
        <div id=products class="col-lg-9 mx-auto mx-auto">
            <div class=" row mx-auto">
                {% for product in products %}
                <div class="card mx-auto mb-3" style="width: 18rem">
                    <img src="{{product.image.url}}" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <p class="card-title">{{ product.title }}</p>
                        <p class="card-text"><b>${{ product.price }}</b></p>
                        <a href="{{ product.id }}" class="btn btn-warning">View</a>
                        <a class="btn btn-warning">Add to cart</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>




    <!-- <div class="row mx-auto">
        <div class="col-lg-3 mx-auto">
            <div class="list-group">
                {% for catergory in categorys %}
                <a href="#" class="list-group-item list-group-item-action">{{ catagory.title }}</a>

                {% endfor %}
            </div>
        </div> -->

    <!-- <div id="products" class="col-lg-9 mx-auto">
        <div class="row mx-auto">
            {% for product in products %}
            <div class="card mx-auto mb-3" style="width: 18rem">
                <img src="{{product.image.url}}" class="card-img-top" alt="..." />
                <div class="card-body">
                    <p class="card-title">{{ product.title }}</p>
                    <p class="card-text"><b>${{ product.price }}</b></p>
                    <a href="{{ product.id }}" class="btn btn-warning">View</a>
                    <a class="btn btn-warning">Add to cart</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %} -->
</div>